body {
    background-image: url(images/squared_metal.png);
    min-height: 100vh;
    /* box-sizing: border-box; */
    font-family: 'Amatic SC', cursive;
    /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;  */
    font-weight: 700;
    line-height: 1.5;
    /* max-width: 60rem; */
    margin: 0px auto;
    /* font-size: 112%; */
}
img {
    /* margin: 0 3vw; */
    align-content: center;
    width: 100%;
    margin-top: 40px;
    /* max-width: 400px; */
} 
#content {
    margin: 0 auto;
    align-items: center;
    min-width: 300px;
    max-width: 840px;
    width: 80%;
}
#restaurant-name {
    margin: auto;
    align-self: flex-start;
    font-size: 60px;
    line-height: 0.9;
}
#header {
    /* position: relative; */
    /* flex-basis: auto; */
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#nav-bar-buttons {
    display: flex;
}
#nav-bar-buttons label {
    font-size: 38px;
	display: block;
	padding: 0.5rem 1rem;
	/* margin-left: 0.2rem; */
    /* background: rgba(255, 255, 255, 0.3); */
	cursor: pointer;
    font-weight: bold;
    transition: background ease 0.5s;
}
#nav-bar-buttons label:hover {
    background: rgba(255, 255, 255, 0.6);
    /* background: var(--bg-secondary); */
    /* color: var(--text-secondary); */
}

#main {
    align-items: center;
    margin: 0 auto 80px auto;
    order: 99;
    flex-grow: 1;
    /* min-width: 300px;
    max-width: 840px;
    width: 80%; */
    padding: 1rem;
    background: rgb(236, 236, 236);
}

#main h1 {
    margin: 0 3vw;
    font-size: 44px;
}

#main p {
    margin: 4vh 3vw;
    font-size: 24px;
    color: rgb(100, 100, 100);
}

#header input[type="radio"] {
	display: none;
}
#header input[type="radio"]:checked + label {
    background: rgba(255, 255, 255, 0.6);
    /* filter: grayscale(50%) opacity(1); */
}
/* #header input[type="radio"]:checked + label + #main {
	display: block;
} */
/* @media (max-width: 45em) {
    #main,
    #header label {
      order: initial;
    }
    #header label {
      width: 100%;
      margin-right: 0;
      margin-top: 0.2rem;
    }
} */
.sections {
    color: rgb(100, 100, 100);
}
.section-title {
    margin: 40px 0 0 0;
    font-weight: lighter;
    font-size: 70px;
    color: rgb(148, 148, 148);
    text-align: center;
}

.dish {
    font-size: 24px;
    max-width: 40em;
    margin: 0 3vw;
    /* padding: 0; */
    overflow-x: hidden;
    /* list-style: none */
}

.dish:before {
    float: left;
    width: 0;
    white-space: nowrap;
    color: rgb(53, 53, 53);
    font-size: 15px;
    margin-top: 12px;
    content:
     ". . . . . . . . . . . . . . . . . . . . "
     ". . . . . . . . . . . . . . . . . . . . "
     ". . . . . . . . . . . . . . . . . . . . "
     ". . . . . . . . . . . . . . . . . . . . "
     ". . . . . . . . . . . . . . . . . . . . "
     ". . . . . . . . . . . . . . . . . . . . "
     ". . . . . . . . . . . . . . . . . . . . "
     ". . . . . . . . . . . . . . . . . . . . "
}

.menu-item-title {
    padding-right: 0.33em;
    background: rgb(236, 236, 236);
}

.menu-item-price {
    float: right;
    padding-left: 0.33em;
    background: rgb(236, 236, 236);
}

/* Socials */
#social-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 20px;
    border-radius: 50%;
}
  
.fa:hover {
      opacity: 0.7;
      cursor: pointer;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;

    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

}